@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

* {box-sizing: border-box;}

html > body {
  font-family: 'Kumbh Sans', sans-serif;
  padding: 0em 1.5em 0em 1.5em;
  background-image: url(./images/bg-pattern-top.svg), 
  url(./images/bg-pattern-bottom.svg);
  background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(185deg, 75%, 39%);
}

.flex-container {
  min-height: 98vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card {
    padding: 2em 2em 0em 2em;
    background: url(./images/bg-pattern-card.svg) no-repeat, white;
    background-position: top center;
    background-size: contain;
    border-radius: 1em;
}

.card__image {
    display: block;
    margin: auto;
    margin-top: 4em;
    border: 5px solid white;
    border-radius: 4em;
}

.flex-row {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 1.2em;
    margin-bottom: 0.8em;
}

.card__heading {
    font-size: 1.2rem;
}

.card__paragraph--bold {
    font-weight: 700;
    font-size: 1.2rem;
}

.card__p-age--color {
    color: var(--Dark-gray);
    font-size: 1.2rem;
}

.card__pcity {
    text-align: center;
    color: var(--Dark-gray);
    font-size: 0.9rem;
    margin-bottom: 4em;
}

.grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    place-items: center;
    grid-auto-flow: column;
}

.card__paragraph--light {
    color: var(--Dark-gray);
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 400;
}



@media only screen and (width > 475px) {
  .card {
    min-width: 20%;
    align-self: center;
  }
}

